 <!--TABLA Y CARGA DE ALUMNOS-->
<div class="animated fadeIn">
  <div class="row">
     <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
            <button type="button" class="btn btn-success mr-1" data-toggle="modal" (click)="editaAlumno(0)">
            Agregar alumno
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Listado de alumnos hoy es: {{fecha | date: 'EEEE, MMMM d, y' }}
        </div>
        <div class="card-body">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
 

  <!-- Name Column -->
  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef [appCabeceraTabla]="estilos"> Fotografía </th>
    <td mat-cell *matCellDef="let element"><img [src]="element.url" width="130" height="110">  </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef [appCabeceraTabla]="estilos"> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.name | alumno:element.lastName}} </td>
  </ng-container>

  <!-- Weight Column -->


  <!-- Symbol Column -->
  <ng-container matColumnDef="motherLastName">
    <th mat-header-cell *matHeaderCellDef [appCabeceraTabla]="estilos"> Apellido materno </th>
    <td mat-cell *matCellDef="let element"> {{element.motherLastName}} </td>
  </ng-container>
  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef [appCabeceraTabla]="estilos"> Edad </th>
    <td mat-cell *matCellDef="let element"> {{element.age}} </td>
  </ng-container>
  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef [appCabeceraTabla]="estilos"> Genero </th>
    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
  </ng-container>
  <ng-container matColumnDef="qualification">
    <th mat-header-cell *matHeaderCellDef [appCabeceraTabla]="estilos"> Calificación </th>
    <td mat-cell  *matCellDef="let element" > <span [ngClass]="element.qualification > 5? 'badge badge-success':'badge badge-danger'">{{element.qualification}} {{((element.qualification>5)?'(Aprobado)':'(No aprobado)')}} </span> </td>
  </ng-container>
 
  
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef [appCabeceraTabla]="estilos"> Correo electrónico </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef [appCabeceraTabla]="estilos"> Acciones </th>
    <td mat-cell *matCellDef="let element"> 
      <button type="button" class="btn btn-warning mr-1" data-toggle="modal" (click)="editaAlumno(element.id)">Editar</button> 

      <button (click)="eliminaAlumno(element.qualification,element.name)" class="btn btn-danger">Eliminar</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


      <!--    <table class="table" >
           


            <thead [appCabeceraTabla]="estilos"> 
              <tr>
                <th >Fotografía</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Edad</th>
                <th>Sexo</th>
                <th>Calificación</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody > 
              <tr *ngFor="let alumno of alumnos"  [style.background-color]="alumno.gender == 'Femenino' ? '#FFEBCD':'#CEE7FF'">
                <td><img [src]="alumno.url" width="130" height="110"></td>
                <td>{{alumno.name | alumno:alumno.lastName}}</td>
                <td>{{alumno.lastName}}</td>
                <td>{{alumno.motherLastName}}</td>
                <td>
                  <span>{{alumno.age}}</span>
                </td>
                <td>{{alumno.gender}}</td>
                <td *ngIf="alumno.qualification > 5; else blockNoAprobado"><span [ngClass]="alumno.qualification > 5? 'badge badge-success':''">{{alumno.qualification}}  (Aprobado)</span></td>
                <ng-template #blockNoAprobado><span [ngClass]="alumno.qualification <= 5? 'badge badge-danger':''">{{alumno.qualification}}  (No aprobado)</span></ng-template>
                <td>
                  <button type="button" class="btn btn-warning mr-1" data-toggle="modal" (click)="editaAlumno(alumno.id)">Editar</button> 

                  <button (click)="eliminaAlumno(alumno.qualification,alumno.name)" class="btn btn-danger">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        
        </div>
      </div>
    </div>
  </div>
</div>-->
 <!--TERMINA TABLA Y CARGA DE ALUMNOS-->

 <!--MODALES-->

<div bsModal #formulario="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Agregar alumno</h4>
        <button type="button" class="close" (click)="formulario.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="profileForm"> 
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="archivo"> </label>
                <input #file id="archivo" type="file" accept='image/*' (change)="preview(file.files)" />
                
              </div>
            </div> 
            <div class="col-md-6">
              <div class="form-group">
                
                <img [src]="imgURL" height="100" id="foto" *ngIf="imgURL">
                
              </div>
            </div>
          </div>
            <div class="row">
              
            <div class="col-sm-3">
              <div class="form-group">
                <label for="name">Nombre: </label>
                <input id="name" class="form-control" type="text" formControlName="name" #txtName>
                <span [style.color]="true? 'red':''" *ngIf="profileForm.get('name')?.errors?.['required']">* obligatorio</span>
                <span [style.color]="true? 'red':''" *ngIf="profileForm.get('name')?.errors?.['minlength']">El campo nombre debe tener al menos 5 caracteres</span>
              </div>
            </div> 

             <div class="col-sm-3">
              <div class="form-group">
                <label for="lastName">Apellido paterno: </label>
                <input id="lastName" type="text" class="form-control"  formControlName="lastName" #txtPaterno>
                 <span [style.color]="true? 'red':''" *ngIf="profileForm.get('lastName')?.errors?.['required']">* obligatorio</span>
              </div>
            </div>
             <div class="col-sm-3">
              <div class="form-group">
                <label for="motherLastName">Apellido materno: </label>
               <input id="motherLastName" type="text" class="form-control"  formControlName="motherLastName" #txtMaterno>
               <span [style.color]="true? 'red':''" *ngIf="profileForm.get('motherLastName')?.errors?.['required']">* obligatorio</span>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="motherLastName">Correo electrónico: </label>
               <input id="email" type="email" class="form-control"  formControlName="email" #txtEmail>
               <span [style.color]="true? 'red':''" *ngIf="profileForm.get('email')?.errors?.['required']">* obligatorio</span>
               <span [style.color]="true? 'red':''" *ngIf="profileForm.get('email')?.errors?.['email']">Escribe un correo válido</span>
              </div>
            </div>
             
             
          </div>
        <div class="row">
          <div class="col-sm-3">
              <div class="form-group">
               <label for="age">Edad: </label>
                 <input id="age" type="number" class="form-control"  formControlName="age" #txtEdad>
                 <span [style.color]="true? 'red':''" *ngIf="profileForm.get('age')?.errors?.['required']">* obligatorio</span>
                 <span [style.color]="true? 'red':''" *ngIf="profileForm.get('age')?.errors?.['maxLength']">Máximo dos digitos</span>
                 <span [style.color]="true? 'red':''" *ngIf="profileForm.get('age')?.errors?.['max']">Solo hasta la edad de 12 años</span>
              </div>
            </div>
           <div class="col-sm-3">
              <div class="form-group">
                 <label for="qualification">Calificación: </label>
               <input id="qualification" type="number" class="form-control"  formControlName="qualification" #txtCal>
               <span [style.color]="true? 'red':''" *ngIf="profileForm.get('qualification')?.errors?.['required']">* obligatorio</span>
               <span [style.color]="true? 'red':''" *ngIf="profileForm.get('qualification')?.errors?.['max']">Máxima calificación es 10</span>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
               <label for="gender">Sexo: </label>
                <select id="gender"  class="form-control" formControlName="gender" #txtGen>
                  <option value="" >Seleccionar</option>
                  <option value="Masculino" >Masculino</option>
                  <option value="Femenino">Femenino</option>
                </select>
                <span [style.color]="true? 'red':''" *ngIf="profileForm.get('gender')?.errors?.['required']">* obligatorio</span>
              
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
              <div class="form-group">
               
              </div>
            </div>
        </div>  
        <input  type="hidden" class="form-control" value="0" #id_edit>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="formulario.hide()">Close</button>
        <button type="button" class="btn btn-primary" (click)="addAlumno()">Guardar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #mensajeElimnado="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Alerta</h4>
        <button type="button" class="close" (click)="mensajeElimnado.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Alumno eliminado</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="mensajeElimnado.hide()">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #mensajeAlerta="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Alerta</h4>
        <button type="button" class="close" (click)="mensajeAlerta.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>No puedes eliminar este alumno porque esta aprobado</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="mensajeAlerta.hide()">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #mensajeObligatorio="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Alerta</h4>
        <button type="button" class="close" (click)="mensajeObligatorio.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Debes llenar los campos obligatorios</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="mensajeObligatorio.hide()">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

 <!--TERMINA MODALES-->