 <!--TABLA Y CARGA DE ALUMNOS-->
<div class="animated fadeIn">
  <div class="row">
 
     <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
            <button type="button" class="btn btn-success mr-1" data-toggle="modal" (click)="editaCurso(0)">
            Agregar curso
          </button>
        </div>
      </div>
    </div>
     <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
            
          <input id="filtro" class="form-control" type="text" placeholder="Escribe el nombre del curso" #filtro>
          <button type="button" class="btn btn-success mr-1" data-toggle="modal" (click)="filtrar()">
            Filtrar
          </button>
          <button type="button" class="btn btn-success mr-1" data-toggle="modal" (click)="limpiarFiltro()">
            Limpiar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Listado de cursos hoy es: {{fecha | date: 'EEEE, MMMM d, y' }}
        </div>
        <div class="card-body">
          <table mat-table [dataSource]="datos$ | async" class="mat-elevation-z8" >

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
 

  <!-- Name Column -->
  
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef [appCabeceraTabla]="estilos"> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.name }} </td>
  </ng-container>

  <!-- Weight Column -->

 
  <!-- Symbol Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef [appCabeceraTabla]="estilos"> Tipo </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef [appCabeceraTabla]="estilos"> Acciones </th>
    <td mat-cell *matCellDef="let element"> 
      <button type="button" class="btn btn-warning mr-1" data-toggle="modal" (click)="editaCurso(element.id)">Editar</button> 

      <button (click)="eliminaCurso(element.id)" class="btn btn-danger">Eliminar</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


 <!--MODALES-->

<div bsModal #formulario="bs-modal" class="modal fade" tabindex="-1"
role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> <div
class="modal-dialog modal-lg" role="document"> <div class="modal-content">
<div class="modal-header"> <h4 class="modal-title">Agregar curso</h4> <button
type="button" class="close" (click)="formulario.hide()" aria-label="Close">
<span aria-hidden="true">&times;</span> </button> </div> <div
class="modal-body"> <form [formGroup]="profileForm"> <div class="row"> <div
class="col-md-6"> <div class="form-group"> <label for="archivo"> </label>
<input #file id="archivo" type="file" accept='image/*' (change)="preview
(file.files)" />
                
              </div>
            </div> 
            <div class="col-md-6">
              <div class="form-group">
                
                <img [src]="imgURL" height="100" id="foto" *ngIf="imgURL">
                
              </div>
            </div>
          </div>
            <div class="row">
               
            <div class="col-sm-3">
              <div class="form-group">
                <label for="name">Nombre: </label>
                <input id="name" class="form-control" type="text" formControlName="name" #txtName>
                <span [style.color]="true? 'red':''" *ngIf="profileForm.get('name')?.errors?.['required']">* obligatorio</span>
                <span [style.color]="true? 'red':''" *ngIf="profileForm.get('name')?.errors?.['minlength']">El campo nombre debe tener al menos 5 caracteres</span>
              </div>
            </div> 

             <div class="col-sm-3">
              <div class="form-group">
                <label for="tipo">Tipo: </label>
                <input id="tipo" type="text" class="form-control"  formControlName="type" #txtTipo>
                 <span [style.color]="true? 'red':''" *ngIf="profileForm.get('type')?.errors?.['required']">* obligatorio</span>
              </div>
            </div>   
          </div>
        <div class="row">
          <div class="col-sm-3">
              <div class="form-group">
               
              </div>
            </div>
        </div>  
        <input  type="hidden" class="form-control" value="0" #id_edit>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="formulario.hide()">Close</button>
        <button type="button" class="btn btn-primary" (click)="addCurso()">Guardar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #mensajeElimnado="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Alerta</h4>
        <button type="button" class="close" (click)="mensajeElimnado.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Alumno eliminado</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="mensajeElimnado.hide()">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #mensajeAlerta="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Alerta</h4>
        <button type="button" class="close" (click)="mensajeAlerta.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>No puedes eliminar este alumno porque esta aprobado</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="mensajeAlerta.hide()">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #mensajeObligatorio="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Alerta</h4>
        <button type="button" class="close" (click)="mensajeObligatorio.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Debes llenar los campos obligatorios</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="mensajeObligatorio.hide()">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #mensajeFiltro="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Alerta</h4>
        <button type="button" class="close" (click)="mensajeFiltro.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Debes escribir un nombre primero</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="mensajeFiltro.hide()">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
 <!--TERMINA MODALES-->